* {box-sizing: border-box}

.container {
    max-width: 500px; /* Ширина элемента в пикселах */
    padding: 10px; /* Поля вокруг текста */
    margin: auto; /* Выравниваем по центру */
}

/* Set height of body and the document to 100% */
body, html {
	height: 100%;
	margin: 0;
	padding: 8px;
	font-family: Calibri;
	background-color: #2e2e2e;
}

.input {
	width: 100%;
}

table, th, td {
	all: none;
	border-collapse: collapse;	
	color: #97bbdd;
	width: 100%;
}
th, td {
	padding: 4px;
	text-align: center;	
	-width: 50%;
}
th {
	-text-align: center;
}
tr {
	padding: 4px;
	vertical-align: bottom;
}

progress {
	font: 24px Arial, Tahoma, sans-serif;
	position: relative;
	overflow: hidden;
	width: 100%;
}

.progress-value
{
  color: #333;
  display: block;
  line-height: 21px;
  text-align: center;
}

table.iksweb{
	all: none;
	width: 100%;
	border-collapse:collapse;
	border-spacing:0;
	height: auto;
}
table.iksweb,table.iksweb td, table.iksweb th {
	-border: 1px solid #595959;
}
table.iksweb td,table.iksweb th {
	padding: 4px;
	width: 50%;
	-text-align: right;
	-height: 35px;
}
table.iksweb td.tdHead {
	text-align: right;
}
table.iksweb td.tdVal {
	text-align: left;
}
table.iksweb th {
	background: #998f34; 
	color: #fff; 
	font-weight: normal;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.5s;
	font-size: 17px;
	width: 33.33%;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    -border: 1px solid #ccc;
	border-top: none;
	color: #97bbdd;
}